# env
.env

# node
node_modules
npm-debug.log
yarn-error.log

# build
dist
build

# docker
*.log

# OS
.DS_Store
Thumbs.db

# vscode
.vscode

# mac/linux temp
*.swp
*.swo

# mongo data (if local)
mongo_data

# coverage
coverage

# client build
client/dist